# ENVIRONMENT
ENVIRONMENT=LOCAL

# POSTGRES
DB__HOST=postgres
DB__USER=...
DB__PASSWORD=...
DB__NAME=...
DB__PORT=5432

# SERVER
SERVER__HOST=0.0.0.0
SERVER__PORT=8000
SERVER__RELOAD=False
SERVER__WORKERS=1

# API
API__ORIGINS=["*"]

# AUTH
AUTH__API_KEY=...